<div
  class="flex w-full h-full flex-col items-center justify-center gap-4 bg-logo bg-center bg-cover bg-fixed bg-opacity-50"
>
  <h1 class="text-center">
    The highest quality treated pine rounds and fencing supplies
  </h1>
  <p class="text-center">
    A family-owned business with more than twenty years of experience, offering
    competitive prices and genuine serivce
  </p>
  <div class="flex gap-4">
    <a routerLink="/stock" mat-raised-button color="primary">See our product</a>
    <a routerLink="/about-us" mat-stroked-button>Get to know us</a>
  </div>
</div>
