<mat-toolbar>
  <mat-toolbar-row class="justify-between items-center">
    <div class="flex gap-4 items-center">
      <a
        mat-icon-button
        [routerLink]="'/'"
        class="flex items-center justify-center"
      >
        <img src="../../../assets/minorba_logo.svg" alt="" />
      </a>
      <h6>Minorba Pine</h6>
    </div>
    <div
      *ngIf="isPhone$ | async; else menuBtn"
      class="flex w-1/3 max-w-lg min-w-fit gap-2 justify-around"
    >
      <app-nav-item
        *ngFor="let navItem of navItems"
        [navItem]="navItem"
      ></app-nav-item>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #menuBtn>
  <button mat-icon-button>
    <mat-icon (click)="toggleSideNav()">
      {{ sideNavOpen ? "close" : "menu" }}
    </mat-icon>
  </button>
</ng-template>
